body{
    background-color: #f5f5f5;
}
.main-menu{
    list-style: none;
    margin: 0px;
    padding: 2px;
    margin-top: 0px;
    font-family: 'Rubik';  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6))
 }
.main-menu > li {
    display: inline-flex;
 }
.main-menu > li + li {
    margin-left: 20px;
}
.main-menu > li > a {
    padding: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    letter-spacing: 0.2px;
    font-size: 18px;
    text-decoration: none;
}
.main-menu > li > a:hover {
    text-decoration: none;
    color: black;
 }
.main-menu > li > a:after {
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #f1789a, #f9d423);
    content: '';
    left: 0;
    bottom: 10px;
    position: absolute;
    transition: all .3s;
}
.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}
.basy{
    background-color: rgb(107, 100, 100);
    margin-bottom: 100px;
    text-align: center;
}
.eki{
  display: inline;
  
}
.bir{
    background-color: white;
    margin-left: 80px;
    width: 1700px;
    text-align: start;
    -left: 20px;
    
}
